@model LibrariProject.Models.Book
@using LibrariProject.Models
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
@using (Html.BeginForm())
{

    <fieldset>
        <legend>Студент</legend>

        @Html.HiddenFor(model => model.BookId)

        <div class="editor-label"><b>Имя</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
        </div>

        <div class="editor-label"><b>Обложка</b></div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ColorFoto)
        </div>
        <div class="editor-label"><b>Курсы</b></div>
        @foreach (Author c in ViewBag.Authors)
{
    <input type="checkbox" name="selectedAuthors" value="@c.AuthorId"
           @(Model.Authors.Contains(c) ? "checked=\"checked\"" : "") />@c.FIO <br />
        }

        <p>
            <input type="submit" value="Сохранить" />
        </p>
    </fieldset>
}
